@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
* {
  box-sizing: border-box;
}
/* global */
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 1.5;
  background-color: #f4f4f4;
}
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}
ul {
  margin: 0;
  padding: 0;
}
.button_1 {
  height: 35px;
  background: rgb(60, 255, 0);
  border: none;
  margin: -4px;
  padding-left: 20px;
  padding-right: 20px;
}
/* header */
header {
  background-color: #35424a;
  color: #fff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: rgb(60, 255, 0) 3px solid;
}
header a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}
header li {
  float: left;
  display: inline;
  padding: 0 20px;
}
#branding {
  float: left;
}
#branding h1 {
  margin: 0;
  padding-bottom: 20px;
}
nav {
  float: right;
  margin-top: 10px;
}
.highlight,
.current a {
  color: rgb(60, 255, 0);
  font-weight: 700;
}
header a:hover {
  color: #ccc;
  font-weight: 700;
}
/* hero section  */
#showcase {
  min-height: 400px;
  background: url("images/hero.jpg");
  text-align: center;
  color: #fff;
}
#showcase h1 {
  margin-top: 100px;
  font-size: 55px;
  margin-bottom: 10px;
}
#showcase p {
  font-size: 20px;
}
/* newsletter */
#newsletter {
  padding: 15px;
  color: #fff;
  background: #35424a;
}
#newsletter h1 {
  float: left;
}
#newsletter form {
  float: right;
  margin-top: 20px;
}
#newsletter input[type="email"] {
  padding: 4px;
  height: 35px;
  width: 250px;
  border: none;
}
/* Boxes  */
#boxes {
  margin-top: 20px;
}
#boxes .box {
  float: left;
  width: 30%;
  padding: 10px;
  text-align: center;
}
#boxes .box img {
  width: 90px;
}
footer {
  padding: 20px;
  margin-top: 20px;
  color: white;
  background-color: rgb(60, 255, 0);
  text-align: center;
  color: black;
}

/* sidebar */
#sidebar {
  float: right;
  width: 30%;
  margin-top: 20px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  height: 100vh;
  background-color: rgb(60, 255, 0, 0.5);
}
#main-col {
  margin-top: 20px;
  float: left;
  width: 65%;
}
